*{
    font-family: Arial, sans-serif;
    color: #000000;
    background: #aeadad;
    padding: 0 10px;
}
.PortfolioHomePage{
    width: auto;
    height: auto;
}

.Navigatie{
    display: flex;
    background: black;
    height: 25px;
    justify-content: flex-end;
    width: 100%;
}
.Navigatie a{
    color: white;
    background-color: black;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
a:hover{
    color: grey;
}
.HomePHead {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
table th{
    border: 1px solid black;
    border-collapse: collapse;
}
.Opleiding{
    display: flex;
    padding: 100px;
}
.Beroep{
    display: flex;
    padding: 100px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
}
.naam{
    color: white;
    background-color: black;
}
.School{
    color: white;
    background-color: black;
}
.Klas{
    color: white;
    background-color: black;
}